<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616072724427-ghfoeg1m6a0kv1ngnnhf3dk4jf43vi8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616072724427-ghfoeg1m6a0kv1ngnnhf3dk4jf43vi8m</string>
	<key>API_KEY</key>
	<string>AIzaSyDh4l4xWnRVObP9ZDlL9NV25eCRt6AG3Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>616072724427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cityuniversity.fyp.noticeBoard</string>
	<key>PROJECT_ID</key>
	<string>notice-board-c6d6d</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-board-c6d6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616072724427:ios:b2f4afee1d390a87b2004e</string>
</dict>
</plist>